<div class="container" ng-controller="UserManagementController">
  <div class="row">
    <h1>Benutzerverwaltung</h1>

    <div class="col-xs-3">

      <form ng-submit="addUser(newUser)">
        <div user-form="newUser" headline="Neuer Benutzer"></div>
        <button class="btn btn-default">Benutzer hinzufügen</button>
      </form>
    </div>
    <div class="col-xs-9">
      <h3>Benutzerliste</h3>
      <pre ng-if="DEBUG"><code>{{ userService.getUsers() | json }}</code></pre>
      <div class="well">
        <h5>Anzeige Einstellungen</h5>
        <pre ng-if="DEBUG"><code>{{ filter| json }}</code></pre>

        <label>Namens Filter</label>
        <input type="text" ng-model="filter.name"/>
        <br/>

        <label>Geschlecht</label>
        <select ng-model="filter.gender" ng-options="gender.key as gender.label for gender in genders">
        </select>
        <br/>

        <label>
          <input type="checkbox" ng-model="filter.enableVowelFilter"/>
          Vokale filtern
        </label>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Geschlecht</th>
          <th>Eigenschaften</th>
          <th>Lieblingsessen</th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="user in userService.getUsers() | filter:userFilter"
            ng-class="{'success': user.bremenFan}">
          <td>
            <img src="{{ src }}">
            <span ng-show="!editing">
              {{ user.firstname | eliminateVowels:!filter.enableVowelFilter }}
            </span>
            <span ng-show="editing">
              <input type="text" ng-model="user.firstname" class="form-control"/>
            </span>
          </td>
          <td>
            <span ng-show="!editing">
              {{ user.lastname | eliminateVowels:!filter.enableVowelFilter }}
            </span>
            <span ng-show="editing">
              <input type="text" ng-model="user.lastname" class="form-control"/>
            </span>
          </td>
          <td>
           {{ user.gender }}
          </td>
          <td>
            <span ng-show="!editing">
              {{ user | displayUserProperties }}
            </span>
            <span ng-show="editing">
              <label>
                <input type="checkbox" ng-model="user.macUser" /> Mac-User
              </label>
              <label>
                <input type="checkbox" ng-model="user.bremenFan" /> Bremen-Fan
              </label>
              <label>
                <input type="checkbox" ng-model="user.vegetarier" /> Vegetarier
              </label>
            </span>
          </td>
          <td>
            <span ng-show="!editing">
              {{ user.lieblingsessen.name }}
            </span>
            <span ng-show="editing">
              <select class="form-control" ng-model="user.lieblingsessen" ng-options="meal.name for meal in meals">
              </select>
            </span>
          </td>
          <td>
            <a href="#/user-detail-page/{{user.guid}}" class="btn btn-info">
              <span class="glyphicon glyphicon-search"></span>
            </a>
            <button ng-click="editing = !editing" class="btn btn-warning">
              <span class="glyphicon" ng-class="{'glyphicon-pencil': !editing, 'glyphicon-ok': editing}"></span>
            </button>
            <button ng-click="userService.removeUser(user)" class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
