<!DOCTYPE html>
<html>
<head lang="de">
  <meta charset="UTF-8">
  <title>angular-workshop-setup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <script src="../node_modules/angular/angular.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body ng-app>

<div class="container" ng-init="name = 'Bernd'">
  <div class="row">
    <div class="col-xs-4">
      <h2>Hello {{ name }}!</h2>
      <input type="text" ng-model="name" />
    </div>
  </div>
  <hr/>
  <div class="row">
    <h2 class="col-xs-12">Expressions</h2>
    <div class="col-xs-2">
      <h4>Beispiele</h4>
      <p>1 + 2 + 3 = {{ 1 + 2 + 3 }}</p>
      <p>name.length = {{ name.length }}</p>
      <p>123ms = {{ 123 + 'ms'}}</p>
      <p>true ? = {{ true ? 'YES' : 'NO' }}</p>
      <p>false ? = {{ false ? 'YES' : 'NO' }}</p>
    </div>
    <div class="col-xs-3">
      <h4>Zeichenzähler</h4>
      <textarea ng-model="myText" class="form-control" rows="3"></textarea>
      <div class="small text-right alert" ng-class="{'alert-danger': myText.length > 140 }">
        {{ 140 - myText.length }}
      </div>
    </div>
    <div class="col-xs-6 col-xs-offset-1"
         ng-init="c=1;"
         ng-style="{'opacity': c}">
      <h4>Weitere Beispiele</h4>
      <input type="text" ng-model="someText" class="form-control" />
      <p><em>Reversed text:</em> {{ someText.split("").reverse().join("") }}</p>
      <p><em>Uppercase:</em> {{ someText.toUpperCase() }}</p>
      <p><em>Split words:</em> {{ someText.split(" ") }}</p>
      <p>Background grey scale: <input type="number" ng-model="c" min="0" max="1" step="0.1"/></p>
      <ul>
        <li ng-repeat="word in someText.split(' ')">
          {{ word }}
        </li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="row">
    <h2 class="col-xs-12">Two-Way-Binding</h2>
    <div class="col-xs-2">
      <h4>Benutzerformular</h4>
      <form>
        <div class="form-group">
          <label for="vorname">Vorname</label>
          <input type="text" ng-model="user.vorname" class="form-control" id="vorname" placeholder="Vorname">
        </div>
        <div class="form-group">
          <label for="nachname">Nachname</label>
          <input type="text" ng-model="user.nachname" class="form-control" id="nachname" placeholder="Nachname">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="user.macUser"> Mac-User
          </label>
          <label>
            <input type="checkbox" ng-model="user.bremenFan"> Bremen-Fan
          </label>
          <label>
            <input type="checkbox" ng-model="user.vegetarier"> Vegetarier
          </label>
        </div>
        <select class="form-control" ng-model="user.lieblingsessen">
          <option>Pizza</option>
          <option>Pommes</option>
          <option>Salat</option>
        </select>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="col-xs-4">
      <h4>JSON</h4>
      <pre><code>{{ user | json}}</code></pre>
    </div>

  </div>
</div>
</body>
</html>
